<footer class="footer">
  <div class="footer-block buttons"></div>
  <div class="footer-block author">
    <ul>
      <li>Copyright &copy; <%= Date.today.year %> <a href="https://example.com", target="_blank">Example Company</a></li>
    </ul>
  </div>
</footer>